
body{
    margin: 0;
    /*
    background-image: url(/code/images/Frame1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 60%;
    background-attachment: scroll;
    overflow-y: scroll;
    max-width: 600px;
    max-height: 800px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    */
}

//consider revising after seeing how it looks on different devices
//look up how to make responsive design??
.overlay{
    background-image: url(/code/images/Frame1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    overflow: hidden;
    outline: 2px solid black;
    width: 100%;
    height: 1535px;
}

.title{
    text-align:center;
    color: #e2e2e2;
    font-size:100px;
    font-weight: 900;
    //line-height: 62px;
}