
body{
    margin: 0;//allows the overlay div to completely take up the screen by erasing margin
    /*
    background-image: url(/code/images/Frame1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 60%;
    background-attachment: scroll;
    overflow-y: scroll;
    max-width: 600px;
    max-height: 800px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    */
}

//consider revising after seeing how it looks on different devices
//look up how to make responsive design??
#overlay{
    background-image: url(images/forHTWIP.png);
    image-rendering:pixelated;//gives the background that crispy anti-aliasing
    background-repeat: no-repeat;//prevents background image from repeating when space is available
    background-size:1920px;//image has a width of 1920px so this essentially just covers the screen without background-size:cover.
    //background-size: cover sucks because I don't want the "broad background" to adjust with window resize UNTIL it hits the certain point outlined in the media query below and goes into the "skinny background"
    //text-align: center;
    background-position: 50% 0%;//centers image to be at the center of the page even upon resize
    overflow: hidden;//hides the scrollbar that would ordinarily pop up at the bottom of the screen; for some reason erasing this also makes a white block at the top. dunno why
    //outline: 2px solid black;
    width: 100%;//
    height: 1535px;
}

// @media only screen and (max-width: 700px)
// {
//     .overlay{
//         background-size: cover;
//     }
// }

.title{
    text-align:center;
    left: 10px;
    color: #e2e2e2;
    font-weight: 900;
    white-space: nowrap;
    text-shadow: 2px 5px 4px #000000;

  /* DIPLOMATA, use VER1
  transform: scale(.6, 1);
  font-family: 'Diplomata', cursive;
  font-size:100px;
  */

  /* FI, use VER2
  transform: scale(0.9, 1);
  font-family: 'Fascinate Inline', cursive;
  position: relative;
  top:-40px;
  font-size:100px;
  */
  
  /* FRIJOLE, use VER2
  font-family: 'Frijole', cursive;
  position: relative;
  top:-10px;
  font-size:100px;
  line-height:110px;
  transform: scale(1, 1.2);
  white-space: nowrap;
  */
  
  /* NANUM PEN SCRIPT, use VER2
  font-family: 'Nanum Pen Script', cursive;
  transform: scale(1.5, 1.5);
  line-height: 70px;
  position: relative;
  top:110px;
  font-size:100px;
  */

  /* RUSLAN DISPLAY, use VER2 */
  font-family: 'Ruslan Display', cursive;
  position: relative;
  top:-70px;
  line-height: 120px;
  font-size:140px;
  transform: scale(1, 1.1);
  
  
  /* SNIGLET
  font-family: 'Sniglet', cursive;
  font-size:120px;
  position: relative;
  top: -120px;
  */

  /* SONSIE ONE
  font-family: 'Sonsie One', cursive;
  font-size:110px;
  position: relative;
  top: -100px;
  */
}

#meet p{
    text-align:center;
    color: #61c96c;
    font-weight: 900;
    white-space: nowrap;

    /* FRIJOLE, use VER2*/
    font-family: 'Frijole', cursive;
    position: relative;
    font-size:100px;
    line-height:110px;
    transform: scale(1, 1.2);
}

@media all and (max-width: 130vh) {  
    // .title {  
    //     font-size: var(--font1-sizeVH); 
    // } 
    #overlay{
        background-size: 100vw;
    }
    .title{
        font-size:12vw;
        line-height:12vw;
    }
}

//Resize code
/*
body{
  padding: 0;
  margin:0;
}

:root {
    --ratio: 0.5;
    --reverse-ratio: 2;
    --container-width: 50vw;
    --container-height: 50vh;

    --font1-sizeVW: 15vh;
    --font1-sizeVH: calc(var(--ratio) * 15vw);

    --font2-sizeVW: 6vh;
    --font2-sizeVH: calc(var(--ratio) * 6vw);
}

.one {
  position: relative;
  width: 20vw;
  height: 20vw;
  background-color: #76ccde;
  float: left;
  margin: auto;
  border-bottom: 1px solid rgb(180,180,180);
  padding: 4px;
  box-sizing: border-box;
}

#span1{
  font-size: var(--font1-sizeVW); 
}

.two {
  width: 25vw;
  height: 25vw;
  background-color: #c976de;
  float: left;
  margin-left: 10px;
}

.three {
  width: 30vw;
  height: 30vw;
  background-color: #a7de76;
  float: left;
  margin-left: 10px;
}

//max-width: (reversRatio * 100vh) 
@media all and (max-width: 200vh) {  

    #container {
        background-color: green;
    }

    #span1 {  
        font-size: var(--font1-sizeVH); 
    } 
}
*/