body {
  margin: 0;
  /*
  background-image: url(/code/images/Frame1.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 60%;
  background-attachment: scroll;
  overflow-y: scroll;
  max-width: 600px;
  max-height: 800px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  */
}

:root {
  --ratio: 0.5;
  --reverse-ratio: 2;
  --container-width: 50vw;
  --container-height: 50vh;
  --font1-sizeVW: 15vh;
  --font1-sizeVH: calc(var(--ratio) * 15vw);
  --font2-sizeVW: 6vh;
  --font2-sizeVH: calc(var(--ratio) * 6vw);
}

#overlay {
  background-image: url(images/forHTWIP.png);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: 51.2% 0%;
  overflow: hidden;
  width: 100%;
  height: 1535px;
}

.title {
  text-align: center;
  left: 10px;
  color: #e2e2e2;
  font-weight: bolder;
  white-space: nowrap;
  /* DIPLOMATA, use VER1
transform: scale(.6, 1);
font-family: 'Diplomata', cursive;
font-size:100px;
*/
  /* FI, use VER2
transform: scale(0.9, 1);
font-family: 'Fascinate Inline', cursive;
position: relative;
top:-40px;
font-size:100px;
*/
  /* FRIJOLE, use VER2
font-family: 'Frijole', cursive;
position: relative;
top:-10px;
font-size:100px;
line-height:110px;
transform: scale(1, 1.2);
white-space: nowrap;
*/
  /* NANUM PEN SCRIPT, use VER2
font-family: 'Nanum Pen Script', cursive;
transform: scale(1.5, 1.5);
line-height: 70px;
position: relative;
top:110px;
font-size:100px;
*/
  /* RUSLAN DISPLAY, use VER2 */
  font-family: 'Ruslan Display', cursive;
  position: relative;
  top: -100px;
  line-height: 125px;
  font-size: 170px;
  border: 4px solid red;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  /* SNIGLET
font-family: 'Sniglet', cursive;
font-size:120px;
position: relative;
top: -120px;
*/
  /* SONSIE ONE
font-family: 'Sonsie One', cursive;
font-size:110px;
position: relative;4
top: -100px;
*/
}

#meet p {
  text-align: center;
  color: #61c96c;
  font-weight: 900;
  white-space: nowrap;
  /* FRIJOLE, use VER2*/
  font-family: 'Frijole', cursive;
  position: relative;
  font-size: 100px;
  line-height: 110px;
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

@media all and (max-width: 1300px) {
  .title {
    color: black;
    font-size: calc(13vw);
    top: -8vw;
  }
}

@media all and (max-width: 835px) {
  #overlay {
    background-image: url(images/mobile.png);
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 51.2% 0%;
    overflow: hidden;
    width: 100%;
    height: calc(1020px + 61vw);
  }
  .title {
    color: red;
  }
}

/*
body{
padding: 0;
margin:0;
}

.one {
position: relative;
width: 20vw;
height: 20vw;
background-color: #76ccde;
float: left;
margin: auto;
border-bottom: 1px solid rgb(180,180,180);
padding: 4px;
box-sizing: border-box;
}

#span1{
font-size: var(--font1-sizeVW); 
}

.two {
width: 25vw;
height: 25vw;
background-color: #c976de;
float: left;
margin-left: 10px;
}

.three {
width: 30vw;
height: 30vw;
background-color: #a7de76;
float: left;
margin-left: 10px;
}

//max-width: (reversRatio * 100vh) 
@media all and (max-width: 200vh) {  

  #container {
      background-color: green;
  }

  #span1 {  
      font-size: var(--font1-sizeVH); 
  } 
}
*/
/*# sourceMappingURL=wow.css.map */